html, body {
    margin: 0;
    padding: 0;
}

#wrapper{
    width:800px;
    margin:0 auto;
}

#banner {
    background-color:rgba(127, 155, 195, 0.5);
    width: 800px;
    height: 100px;
    clear: both;
    position: fixed;
    top: 0;
}

.container {overflow: hidden; /*clear float*/}
#banner-placeholder{height: 100px;}


#nav {
    background-color:aliceblue;
    width: 100px;
    height: 200px;
    float: left;
}

#content {
    background-color: rgb(249, 242, 221);
    width: 600px;
    height: 800px;
    float: left;
}

#supporting {
    background-color:aliceblue;
    width: 100px;
    height: 150px;
    float: left;
}

#footer {
    background-color:rgb(127, 155, 195);
    width: 800px;
    height: 50px;
    clear: both;
}